.main {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
#scene {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}
#scene div {
  position: absolute;
}

#background {
  overflow: hidden;
  background-color: #363150;
  height: 100%;
  width: 100%;
}

#background1 {
  /* width: 630px;
    height: 210px; */
  height: 100%;
  width: 100%;
  background-color: #446d53;
  left: 150px;
  top: 610px;
  border-radius: 520px 0 0 0 /210px 0 0 20px;
}

#background2 {
  height: 100%;
  width: 100%;
  background-color: #5a6053;
  top: 420px;
  border-radius: 0 520px 0 0 /0 210px 20px 0;
}

#background3 {
  height: 100%;
  width: 100%;
  background-color: black;
  top: 460px;
  border-radius: 0 800px 0 0 /0 210px 20px 0;
  opacity: 0.2;
}

#background4 {
  height: 100%;
  width: 100%;
  background-color: black;
  top: 520px;
  border-radius: 0 800px 0 0 /0 210px 20px 0;
  opacity: 0.2;
}

#background5 {
  height: 100%;
  width: 100%;
  background-color: black;
  left: 180px;
  top: 650px;
  border-radius: 500px 0 0 0 /210px 0 0 0px;
  opacity: 0.2;
}

#moon {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-color: lightyellow;
  left: 1300px;
  top: 40px;
}

@-webkit-keyframes movecloud {
  0% {
    left: -150px;
  }
  100% {
    left: 1500px;
  }
}

@keyframes movecloud {
  0% {
    left: -150px;
  }
  100% {
    left: 1500px;
  }
}

@-webkit-keyframes twinkle {
  0% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes twinkle {
  0% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}

.cloud {
  left: -200px;
  height: 60px;
  width: 200px;
  background-color: white;
  border-radius: 100px 200px 200px 80px/60px;
  opacity: 0.6;
}

.cloud:after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 100px;
  left: 30px;
  top: -40px;
}

.cloud:before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 100px;
  left: 90px;
  top: -20px;
}

#cloud1 {
  top: 120px;
  -webkit-animation: movecloud 35s linear infinite;
  animation: movecloud 35s linear infinite;
  transform: scale(0.8);
}

#cloud2 {
  top: 80px;
  -webkit-animation: movecloud 20s linear infinite;
  animation: movecloud 20s linear infinite;
  transform: scale(0.6);
  animation-delay: -10s;
}

#cloud3 {
  top: 60px;
  -webkit-animation: movecloud 30s linear infinite;
  animation: movecloud 30s linear infinite;
  transform: scale(0.6);
}

#cloud4 {
  top: 180px;
  -webkit-animation: movecloud 25s linear infinite;
  animation: movecloud 25s linear infinite;
  animation-delay: -16s;
  transform: scale(0.8);
}

#cloud5 {
  top: 320px;
  -webkit-animation: movecloud 40s linear infinite;
  animation: movecloud 40s linear infinite;
  transform: scale(0.8);
}

#cloud6 {
  top: 450px;
  -webkit-animation: movecloud 30s linear infinite;
  animation: movecloud 30s linear infinite;
  transform: scale(0.6);
  animation-delay: -10s;
}

#cloud7 {
  top: 400px;
  -webkit-animation: movecloud 20s linear infinite;
  animation: movecloud 25s linear infinite;
  transform: scale(0.6);
}

#cloud4 {
  top: 180px;
  -webkit-animation: movecloud 18s linear infinite;
  animation: movecloud 18s linear infinite;
  animation-delay: -16s;
  transform: scale(0.8);
}

.star {
  background-color: lightgoldenrodyellow;
  height: 10px;
  width: 10px;
  -webkit-animation: twinkle 500ms linear infinite alternate;
  animation: twinkle 500ms linear infinite alternate;
}

.star div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #363150;
}

.top {
  top: -5px;
}

.bottom {
  bottom: -5px;
}

.left {
  left: -5px;
}

.right {
  right: -5px;
}

.star1 {
  top: 5px;
  left: 5px;
}

.star2 {
  top: 45px;
  left: 30px;
  animation-delay: -100ms;
}

.star3 {
  top: 15px;
  left: 40px;
  animation-delay: -400ms;
}

.star4 {
  top: 8px;
  left: 70px;
  animation-delay: -200ms;
}

#stars1 {
  left: 200px;
  top: 200px;
}

#stars2 {
  left: 400px;
  top: 50px;
  transform: rotateZ(45deg);
}

#stars3 {
  left: 180px;
  top: 30px;
  transform: rotateZ(90deg);
}

#stars4 {
  left: 790px;
  top: 70px;
  transform: rotateZ(90deg);
}

#stars5 {
  left: 1100px;
  top: 120px;
}

#stars6 {
  left: 970px;
  top: 160px;
  transform: rotateZ(45deg);
}

#stars7 {
  left: 699px;
  top: 190px;
  transform: rotateZ(90deg);
}

#stars2 .star2 {
  left: -60px;
}
#stars3 .star3 {
  top: -30px;
}

/* Hand animation */
@-webkit-keyframes twitch {
  0% {
    left: 255px;
  }
  25% {
    left: 253px;
  }
}

@keyframes twitch {
  0% {
    left: 255px;
  }
  25% {
    left: 253px;
  }
}

@-webkit-keyframes twitch1 {
  0% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(-35deg);
  }
  100% {
    transform: rotateZ(-35deg);
  }
}

@keyframes twitch1 {
  0% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(-35deg);
  }
  100% {
    transform: rotateZ(-35deg);
  }
}

@-webkit-keyframes twitch2 {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(-25deg);
  }
  100% {
    transform: rotateZ(-25deg);
  }
}

@keyframes twitch2 {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(-25deg);
  }
  100% {
    transform: rotateZ(-25deg);
  }
}

@-webkit-keyframes twitch3 {
  0% {
    transform: rotateZ(0deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
}

@keyframes twitch3 {
  0% {
    transform: rotateZ(0deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
}

@-webkit-keyframes twitch4 {
  0% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

@keyframes twitch4 {
  0% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
